/** Harlequinade: */
@font-face {font-family:"Harlequinade"; src:url('@{jPath-Fonts}harlequinade/harlequinade.ttf') format('truetype');}

/* NECjAR */
@font-face {font-family:"j"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}necjar/j.eot?#iefix');
  src:url('@{jPath-Fonts}necjar/j.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}necjar/j.woff2') format('woff2'),
      url('@{jPath-Fonts}necjar/j.woff') format('woff'),
      url('@{jPath-Fonts}necjar/j.ttf') format('truetype');
}
@font-face {font-family:"NEC AR"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}necjar/NECAR.eot?#iefix');
  src:url('@{jPath-Fonts}necjar/NECAR.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}necjar/NECAR.woff2') format('woff2'),
      url('@{jPath-Fonts}necjar/NECAR.woff') format('woff'),
      url('@{jPath-Fonts}necjar/NECAR.ttf') format('truetype');
}

/* GR8 */
@font-face {font-family:"GR8"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}necjar/GR8.eot?#iefix');
  src:url('@{jPath-Fonts}necjar/GR8.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}necjar/GR8.woff2') format('woff2'),
      url('@{jPath-Fonts}necjar/GR8.woff') format('woff'),
      url('@{jPath-Fonts}necjar/GR8.ttf') format('truetype');
}

/* Ostrich Sans */
@font-face {font-family:"Ostrich Sans Black"; font-display:@jPath-Fonts-display;
src:url('@{jPath-Fonts}ostrich/ostrich-sans-black.eot'); src:local('☺'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-black.woff') format('woff'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-black.ttf') format('truetype'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-black.svg') format('svg'); font-weight:900; font-style:normal;
}
@font-face {font-family:"Ostrich Sans Bold"; font-display:@jPath-Fonts-display;
src:url('@{jPath-Fonts}ostrich/ostrich-sans-bold.eot'); src:local('☺'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-bold.woff') format('woff'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-bold.ttf') format('truetype'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-bold.svg') format('svg'); font-weight:700; font-style:normal;
}
@font-face {font-family:"Ostrich Sans Light"; font-display:@jPath-Fonts-display;
src:url('@{jPath-Fonts}ostrich/ostrich-sans-light.eot'); src:local('☺'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-light.woff') format('woff'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-light.ttf') format('truetype'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-light.svg') format('svg'); font-weight:300; font-style:normal;
}
@font-face {font-family:"Ostrich Sans"; font-display:@jPath-Fonts-display;
src:url('@{jPath-Fonts}ostrich/ostrich-sans-regular.eot'); src:local('☺'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-regular.woff') format('woff'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-regular.ttf') format('truetype'),
    url('@{jPath-Fonts}ostrich/ostrich-sans-regular.svg') format('svg'); font-weight:400; font-style:normal;
}

/* Steelfish */
@font-face {font-family:"Steelfish"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}steelfish/steelfish.eot?#iefix');
  src:url('@{jPath-Fonts}steelfish/steelfish.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}steelfish/steelfish.woff2') format('woff2'),
      url('@{jPath-Fonts}steelfish/steelfish.woff') format('woff'),
      url('@{jPath-Fonts}steelfish/steelfish.ttf') format('truetype');
}
@font-face {font-family:"Steelfish Bold"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}steelfish/steelfish-bold.eot?#iefix');
  src:url('@{jPath-Fonts}steelfish/steelfish-bold.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}steelfish/steelfish-bold.woff2') format('woff2'),
      url('@{jPath-Fonts}steelfish/steelfish-bold.woff') format('woff'),
      url('@{jPath-Fonts}steelfish/steelfish-bold.ttf') format('truetype');
}
@font-face {font-family:"Steelfish Bold Italic"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}steelfish/steelfish-bold-italic.eot?#iefix');
  src:url('@{jPath-Fonts}steelfish/steelfish-bold-italic.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}steelfish/steelfish-bold-italic.woff2') format('woff2'),
      url('@{jPath-Fonts}steelfish/steelfish-bold-italic.woff') format('woff'),
      url('@{jPath-Fonts}steelfish/steelfish-bold-italic.ttf') format('truetype');
}

/* Opinion */
@font-face {font-family:"Opinion"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}opinion/opinion.eot?#iefix');
  src:url('@{jPath-Fonts}opinion/opinion.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}opinion/opinion.woff2') format('woff2'),
      url('@{jPath-Fonts}opinion/opinion.woff') format('woff'),
      url('@{jPath-Fonts}opinion/opinion.ttf') format('truetype');
}
@font-face {font-family:"Opinion Italic"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}opinion/opinion-italic.eot?#iefix');
  src:url('@{jPath-Fonts}opinion/opinion-italic.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}opinion/opinion-italic.woff2') format('woff2'),
      url('@{jPath-Fonts}opinion/opinion-italic.woff') format('woff'),
      url('@{jPath-Fonts}opinion/opinion-italic.ttf') format('truetype');
}
@font-face {font-family:"Opinion Condensed"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}opinion/opinion-condensed.eot?#iefix');
  src:url('@{jPath-Fonts}opinion/opinion-condensed.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}opinion/opinion-condensed.woff2') format('woff2'),
      url('@{jPath-Fonts}opinion/opinion-condensed.woff') format('woff'),
      url('@{jPath-Fonts}opinion/opinion-condensed.ttf') format('truetype');
}
@font-face {font-family:"Opinion Condensed Italic"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}opinion/opinion-condensed-italic.eot?#iefix');
  src:url('@{jPath-Fonts}opinion/opinion-condensed-italic.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}opinion/opinion-condensed-italic.woff2') format('woff2'),
      url('@{jPath-Fonts}opinion/opinion-condensed-italic.woff') format('woff'),
      url('@{jPath-Fonts}opinion/opinion-condensed-italic.ttf') format('truetype');
}
@font-face {font-family:"Opinion Condensed Extra"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}opinion/opinion-condensed-extra.eot?#iefix');
  src:url('@{jPath-Fonts}opinion/opinion-condensed-extra.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}opinion/opinion-condensed-extra.woff2') format('woff2'),
      url('@{jPath-Fonts}opinion/opinion-condensed-extra.woff') format('woff'),
      url('@{jPath-Fonts}opinion/opinion-condensed-extra.ttf') format('truetype');
}
@font-face {font-family:"Opinion Condensed Extra Italic"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}opinion/opinion-condensed-extra-italic.eot?#iefix');
  src:url('@{jPath-Fonts}opinion/opinion-condensed-extra-italic.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}opinion/opinion-condensed-extra-italic.woff2') format('woff2'),
      url('@{jPath-Fonts}opinion/opinion-condensed-extra-italic.woff') format('woff'),
      url('@{jPath-Fonts}opinion/opinion-condensed-extra-italic.ttf') format('truetype');
}

/* Vin Sans */
@font-face {font-family:"Vin Sans"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}vinsans/vinsans.eot?#iefix');
  src:url('@{jPath-Fonts}vinsans/vinsans.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}vinsans/vinsans.woff2') format('woff2'),
      url('@{jPath-Fonts}vinsans/vinsans.woff') format('woff'),
      url('@{jPath-Fonts}vinsans/vinsans.ttf') format('truetype');
}
@font-face {font-family:"Vin Sans Italic"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}vinsans/vinsans-italic.eot?#iefix');
  src:url('@{jPath-Fonts}vinsans/vinsans-italic.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}vinsans/vinsans-italic.woff2') format('woff2'),
      url('@{jPath-Fonts}vinsans/vinsans-italic.woff') format('woff'),
      url('@{jPath-Fonts}vinsans/vinsans-italic.ttf') format('truetype');
}

/* Kenyan Coffee */
@font-face {font-family:"Kenyan Coffee"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}kenyancoffee/kenyancoffee.eot?#iefix');
  src:url('@{jPath-Fonts}kenyancoffee/kenyancoffee.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee.woff2') format('woff2'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee.woff') format('woff'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee.ttf') format('truetype');
}
@font-face {font-family:"Kenyan Coffee Italic"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}kenyancoffee/kenyancoffee-italic.eot?#iefix');
  src:url('@{jPath-Fonts}kenyancoffee/kenyancoffee-italic.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee-italic.woff2') format('woff2'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee-italic.woff') format('woff'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee-italic.ttf') format('truetype');
}
@font-face {font-family:"Kenyan Coffee Bold"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}kenyancoffee/kenyancoffee-bold.eot?#iefix');
  src:url('@{jPath-Fonts}kenyancoffee/kenyancoffee-bold.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee-bold.woff2') format('woff2'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee-bold.woff') format('woff'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee-bold.ttf') format('truetype');
}
@font-face {font-family:"Kenyan Coffee Bold Italic"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}kenyancoffee/kenyancoffee-bold-italic.eot?#iefix');
  src:url('@{jPath-Fonts}kenyancoffee/kenyancoffee-bold-italic.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee-bold-italic.woff2') format('woff2'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee-bold-italic.woff') format('woff'),
      url('@{jPath-Fonts}kenyancoffee/kenyancoffee-bold-italic.ttf') format('truetype');
}

/* Orchidea */
@font-face {font-family:"Orchidea"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}orchidea/orchidea.eot?#iefix');
  src:url('@{jPath-Fonts}orchidea/orchidea.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}orchidea/orchidea.woff2') format('woff2'),
      url('@{jPath-Fonts}orchidea/orchidea.woff') format('woff'),
      url('@{jPath-Fonts}orchidea/orchidea.ttf') format('truetype');
}
@font-face {font-family:"Orchidea Italic"; font-display:@jPath-Fonts-display;
  src:url('@{jPath-Fonts}orchidea/orchidea-italic.eot?#iefix');
  src:url('@{jPath-Fonts}orchidea/orchidea-italic.eot?#iefix') format('eot'),
      url('@{jPath-Fonts}orchidea/orchidea-italic.woff2') format('woff2'),
      url('@{jPath-Fonts}orchidea/orchidea-italic.woff') format('woff'),
      url('@{jPath-Fonts}orchidea/orchidea-italic.ttf') format('truetype');
}

.⡯Arial     {font-family:Arial, Helvetica, sans-serif;}
.⡯Times     {font-family:'Times New Roman', Times, serif;}
.⡯Courier   {font-family:'Courier New', Courier, monospace;}
.⡯Verdana   {font-family:Verdana, Geneva, Tahoma, sans-serif;}
.⡯Trebuchet {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;}
.⡯Georgia   {font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;}
.⡯Franklin  {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.⡯Gill      {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.⡯Cambria   {font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.⡯Impact    {font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.⡯Lucida    {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.⡯Apple     {font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.⡯Monospace {font-family:monospace;}

.⡯Harlequinade {font-family:Harlequinade, sans-serif;} /* First Letter */
.⡯OstrichSans  {font-family:'Ostrich Sans', sans-serif;} /* en, titles */
.⡯Opinion      {font-family:Opinion, sans-serif;}
.⡯Opinion-i    {font-family:'Opinion Italic', sans-serif;}
.⡯Opinion-sm   {font-family:'Opinion Condensed', sans-serif;}
.⡯Opinion-sm-i {font-family:'Opinion Condensed Italic', sans-serif;}
.⡯Opinion-xs   {font-family:'Opinion Condensed Extra', sans-serif;}
.⡯Opinion-xs-i {font-family:'Opinion Condensed Extra Italic', sans-serif;}
.⡯Steelfish    {font-family:Steelfish, sans-serif;}
.⡯Steelfish-b  {font-family:'Steelfish Bold', sans-serif;}
.⡯Steelfish-bi {font-family:'Steelfish Bold Italic', sans-serif;}
.⡯VinSans      {font-family:'Vin Sans', sans-serif;}
.⡯VinSans-i    {font-family:'Vin Sans Italic', sans-serif;}
.⡯KenyanCoffee    {font-family:'Kenyan Coffee', sans-serif;} /* en */
.⡯KenyanCoffee-i  {font-family:'Kenyan Coffee Italic', sans-serif;} /* en */
.⡯KenyanCoffee-b  {font-family:'Kenyan Coffee Bold', sans-serif;} /* en */
.⡯KenyanCoffee-bi {font-family:'Kenyan Coffee Bold Italic', sans-serif;} /* en */
.⡯Orchidea   {font-family:Orchidea, sans-serif;}
.⡯Orchidea-i {font-family:'Orchidea Italic', sans-serif;}

.⡯NECjAR {font-family:'NEC AR', sans-serif; font-weight:700; text-transform:uppercase; text-decoration:none; white-space:nowrap;
  &:hover {text-decoration:none;}
}
.⡯j {display:inline-block; transform:rotate(-15deg); font-family:j, sans-serif; font-weight:700; letter-spacing:.1em; line-height:1; text-decoration:none; text-transform:lowercase;}
.⡯❽ {font-family:GR8, sans-serif; text-transform:uppercase; text-decoration:none;}

.⡯⠃ {font-size:.8em;}
.⡯⠏ {font-size:1.2em;}
