html, body {min-height:100%; overflow:hidden;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video {border:0; font-size:100%; margin:0; padding:0; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,menu,nav,section {display:block;}

ol,ul {list-style:none;}
img {vertical-align:top;}
table {border-collapse:collapse; border-spacing:0;}
html {-webkit-text-size-adjust:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body {font-family:'Neue Helvetica', Arial, Helvetica, sans-serif; font-size:14pt; line-height:1.5; color:#fff; perspective-origin:right; perspective:@perspective; /*cursor:default; user-select:none;*/ -webkit-user-drag:none; backface-visibility:hidden; user-select:none; text-rendering:auto; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
sup {vertical-align:text-top; font-size:10px;}
sub {vertical-align:text-bottom;}
button {border:none; appearance:none;}
caption, th, td {font-weight:400; text-align:left; vertical-align:top;}
iframe {border:none; overflow:hidden;}
:focus {outline:0;}
input {border:none; appearance:none;
  &::-ms-clear {display:none;}
}
progress {appearance:none;}
//* {backface-visibility:hidden;}

a {color:inherit; text-decoration:none;
  &[href*="out?"]::after {content:""; padding-right:5px; background:url('@{path}source/external-red.png') 100% 50% no-repeat transparent; background-size:4px;}
  &[href][rel="⢂"]:empty::before {content:attr(href);}
  &[rel="⢂"] {padding:2px 5px; text-decoration:none; text-shadow:none; border-radius:@border-radius-xs;}
}
abbr[title], acronym {cursor:help;}
blockquote, q {display:block; padding:0 5px; quotes:"\201C""\201D""\2018""\2019"; font-family:Orchidea, sans-serif; font-style:italic;}
p {display:inline-block; width:100%; padding:0 0 @padding-sm; vertical-align:top; box-sizing:border-box;}
hr {margin:0 @padding-md @padding-md; background:red; border:0; height:1px; opacity:.1;}
small {font-size:.8em; opacity:.5;
  a {text-decoration:underline;}
}
iframe {width:100%; transform-style:preserve-3d;}
del {opacity:.5;}
ruby {white-space:nowrap;}
rt {opacity:0; transition:.3s ease opacity;}
rb:hover + rt {opacity:1;}
mark {padding:2px 5px; background-color:#f6f6f6;}
code {font-family:monospace;}
details:not([open]) {}
details[open] {}

@media screen and (max-width:480px) {
  body {font-size:12pt;}
}