@jPath: "../materials/";
@jPath-Fonts: "../fonts/";
@jPath-Fonts-display: swap;

@color-red:#d43201;
@color-blood:#900;
@color-blood-old:#400;
@color-gold:#ffd700;
@color-kadae:#11adae;
@color-gr8:#101028;
@color-black:#000;
@color-skin:#816156;
@color-sunkiss:#968064;
@color-labs:#3c70de;
@color-ocean:#046;
@color-deep:#0d415f;
@color-juice:#ff953d;
@color-purple:#8e44ad;
@color-purple-alpha:#8d44ad52;

@j-box-shadow-xs: 0 0 5px rgba(0,0,0,.3);
@j-box-shadow-sm: 5px 5px 5px rgba(0,0,0,.2);
@j-box-shadow-md: 10px 10px 5px rgba(0,0,0,.3);

@j-perspective: 3000px;
@j-padding: 160px;
@j-border-radius: 3px;
@j-border-radius-sm: 5px;
@j-border-radius-md: 40px;

@j-second-speed: .3s;
@j-second-delay: 3s;

.SetSize(@width, @height) {width:@width; height:@height;}
.SetAbsolute() {position:absolute; top:0; right:0; bottom:0; left:0;}